<h1>Listando idéias</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Imagem</th>
    </th>
  </thead>
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to idea.name, idea %></td>
        <td><%= image_tag idea.picture_url(:thumb) if idea.picture.present?%></td>
        <td><%= idea.short_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
