<h1>Pages#info</h1>
<p> Meu nome é Tatyane, bem vindos ao projeto Railsgirls 2017. <br/>Essa página tem objetivo de proporcionar um ambiente de discussão e críticas de mulheres sobre o livro "Mulheres que correm com lobos"</p>
<p>Find me in app/views/pages/info.html.erb</p>
